main {
  background-color: #f1e9e2;
  width: 900px;
  height: 650px;
}

/* Edição para a imagem ------------- */
#img-produto {
  width: 280px;
  height: 420px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

/* Edição Conteúdo ------------------ */
.card-content {
  display: flex;
  justify-content: center;
  padding: 100px;
}

.product {
  width: 280px;
  height: 420px;
  background-color: rgb(255, 255, 255);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

h1.product-name {
  font-size: 30px;
  margin: 0px 30px;
  font-family: "Fraunces", serif;
  font-weight: 700;
  padding-right: 20px;
  line-height: 30px;
}

h2.product-type {
  color: hsl(228, 12%, 48%);
  font-family: "Montserrat", sans-serif;
  font-size: 10px;
  font-weight: 500;
  margin: 30px 30px 20px 30px;
  letter-spacing: 5px;
}

p.product-description {
  color: hsl(228, 12%, 48%);
  font-size: 13px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  margin: 20px 30px 20px 30px;
  line-height: 20px;
}

.price {
  display: flex;
  align-items: center;
}

.price h3 {
  color: #487a66;
  font-size: 31px;
  margin: 0 20px 0 30px;
  font-family: "Fraunces", serif;
}

.price h4 {
  color: hsl(228, 12%, 48%);
  font-family: "Montserrat", sans-serif;
  font-size: 10px;
  font-weight: 500;
  margin: 0px;
  text-decoration-line: line-through;
}

/* Edição Botão ----------------------*/
.button-cart {
  display: flex;
  text-align: center;
  justify-content: center;
  cursor: pointer;
  margin: 30px 0 0 30px;
  align-items: center;
  border: none;
  border-radius: 10px;
  background-color: #1a4031;
  width: 220px;
  height: 40px;
}

a {
  text-decoration: none;
}

h2.button-text {
  color: white;
  font-size: 10px;
  font-family: "Montserrat", sans-serif;
  padding-left: 10px;
}

#icon-bottom {
  width: 12px;
  height: 12px;
}
